:root {
  --primary-color: #2196f3;
  --text-color: #212121;
  --accent-color: #757575;
  --white: #ffffff;
  --black: #000000;
  --footer-bg: #2f303a;
  --hover-blue: #188ce8;
}

body {
  font-family: 'Roboto', sans-serif;
  /* font-size: 14px; */
  line-height: 1.71;
}

.header-logo {
  font-family: Raleway;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

p {
  color: gray;
}

.img {
  width: 500px;
  height: auto;
}

button {
  color: #2196F3;
}

.business-section {
  background-color: #2F303A;
  color: #ffffff;
  padding: 100px 0;
  text-align: center;

}


.order-btn {
  background-color: #4d5ae5;
  color: #ffffff;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2f42;
  color: #ffffff;

}

.logo-footer {
  font-family: Raleway;
}

.main-header {

  background-color: #8000ff;
  padding: 20px 0;
  color: white;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.business {
  padding: 120px 0;
}

.features {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 120px 0;
}

.work {
  padding: 120px 0;
}