:root {
  --primary-color: #2196f3;
  --text-color: #212121;
  --accent-color: #757575;
  --white: #ffffff;
  --black: #000000;
  --footer-bg: #2f303a;
  --hover-blue: #188ce8;
}

body,
html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  /* font-size: 14px; */
  line-height: 1.71;
}

.button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}



td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

.features-section-text.team-subtitle {
  color: #757575;
}

body {
  font-family: "Jost";
}

.items-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.main-button-1 {
  margin-left: 450px;
}

.team {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.leisure-list {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.items-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
  column-gap: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #2f303a;
}
.logo-footer{
  padding: 60px 0 20px;
}
.studio-footer{
  color: #FFFFFF;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.address-link{
  color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71429;
    letter-spacing: 0.42px;
}
.footer-location{
    color:  #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71429; 
    letter-spacing: 0.42px;
}



.footer-div{
    display: flex;
    padding-bottom: 60px;
    flex-direction: column;
    row-gap: 9px;
}


.business-section {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 600px;
  display: flex;
  background-color: #2f303a;

}


.business-title {
  color: white;
}

.business-button {
  background-color: #2196F3;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
}

.footer-address {
  display: flex;
}

.work-list {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.work-title {
  text-align: center;
}
.work-team{
background-color: #f5f4fa;
}
.team-title{
    display: flex;
    padding-left: 453px;
    margin: 0 0 0 0;
    padding-bottom: 50px;
    padding-top: 94px;
}
.team-name{
    color:#212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;    
    letter-spacing: 0.48px; 
    
}
.team-subtitle{
    color:#757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    
     
 
 
}
.team-list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
    column-gap: 30px;
}
.team-li{
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    border-radius: 0px 0px 4px 4px;
    background-color:#FFFFFF;
}
.team-img{
   
    padding-bottom: 30px;
    
}
.team-name{
    padding-bottom: 10px;
}
.team-subtitle{
    padding-bottom: 30px;
}
.portfolio-li{
  border: 1px solid #EEE;
}
.portfolio-li:hover{
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
 

}
.buttons{
      border-radius: 4px;
    background: #f5f4fa; 
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
    letter-spacing: 0.48px;   
    padding: 6px 22px;
    flex-shrink: 0;
}
.portfolio-ulbuttons{
   display: flex;
    column-gap: 8px;
    margin: 0 auto;
    justify-content: center;
    width: auto;
    padding: 94px 0;
    white-space: nowrap;
}
.portfolio-button{
    border-radius: 4px;
    background: #f5f4fa; 
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
    letter-spacing: 0.48px;   
    padding: 6px 22px;
    flex-shrink: 0;
}
.portfolio-button:hover{
    border-radius: 4px;
    background: #2196f3;
    color:#FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;  
    letter-spacing: 0.48px;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);  
}

.web {
  color: #2196f3;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  word-wrap: break-word;
}

.studio {
  color: black;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  word-wrap: break-word;
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
}


.header {
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px 25px 0px;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.address {
  display: flex;
  flex-direction: column;
}

.contacts {
  column-gap: 50px;
  display: flex;
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.nav {
  margin-right: 344px;
}

.nav-list {
  column-gap: 50px;
  display: flex;
  list-style: none;
}

.leisure {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.items-title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  word-wrap: break-word;
}

.leisure-title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  word-wrap: break-word;
}


.nav-5 {
  text-decoration: none;
  color:#212121;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
}

.nav-4:hover {
  color: #2196F3;
}

.nav-5:hover {
  color: #2196F3;
}

.nav-4 {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
}

.nav-2 {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
}

.main-list {
  display: flex;
  list-style-type: none;
}

.nav-2:hover {
  color: #2196F3;
}

.nav-3:hover {
  color: #2196F3;
}

.nav-3 {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
}

.nav-1:hover {
  color: #2196F3;
}

.nav-1 {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
  word-wrap: break-word;
}


.logo {
  text-decoration: none;
  font-family: "Raleway";
}


.team-subtitle {
  color:#757575;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  word-wrap: break-word;
}

body {
  font-family: "Roboto";
}

.advantages-item {
  width: 270px;
  text-align: left;

}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 94px 0;
  list-style: none;
  margin: 0;
  padding-left: 0;

}


.features-text {
  color: gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71429;
  letter-spacing: 0.42px;
}

.advantages-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
  margin-bottom: 30px;
}

.advantages-item:nth-child(1)::before {

  background-image: url("img/antenna\ 1.svg");

}

.advantages-item:nth-child(2)::before {

  background-image: url("img/clock\ 1.svg");

}

.advantages-item:nth-child(3)::before {

  background-image: url("img/diagram\ 1.svg");

}

.advantages-item:nth-child(4)::before {

  background-image: url("img/astronaut\ 1.svg");

}